{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<main role="main">
<script>
    function goToCreateSurveyTemplate(){
        console.log("Template Survey select clicked")
        $("#select_template").submit()
    }
</script>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Pick a survey template</h1>
    </section>
    
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for t in template %}

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                            src="/media/{{t.thumbnail}}"
                            data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">{{t.summary}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button onclick="goToCreateSurveyTemplate()" type="button" class="btn btn-outline-info">Select</button>
                    <form id="select_template" method="POST" action="{% url 'home_page' %}create_survey_template/{{t.id}}">
                        {% csrf_token %}
                        <input type="hidden" />
                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                
                {% endfor %}
            </div>

</main>

{% endblock %}